@tailwind base;
@tailwind components;
@tailwind utilities;

.active hr{
    @apply block;
}
/* Example of Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ::-webkit-scrollbar{
    @apply hidden
  }
  